# Base de données
DATABASE_URL="postgresql://admin:CHANGE_ME@localhost:5432/neja_db?schema=public"
POSTGRES_PASSWORD=CHANGE_ME

# Auth
JWT_SECRET=CHANGE_ME_32_chars_minimum_random_string
JWT_EXPIRES_IN=7d

# OpenAI
OPENAI_API_KEY=sk-...

# Frontend
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1

# Optionnel : MFA
MFA_ISSUER=NejaSaaS
